* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Gothic A1' ,'Courier New', Courier, monospace;
    
}

.body {
    box-sizing: border-box;
    background-image: linear-gradient(
        287deg, 
        #450E4B 0%, 
        #3C0C41, 
        rgba(207, 0, 99, 1), 
        #CF0063 100%
        );
}

/* header start*/

.header {
    width: 100%;
    height: 100%;
    max-height: 100px;
    padding: 10px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.header__logo {
    width: 100%;
    max-width: 120px;
    height: auto;
    margin-left: 20px;
}

.header__nav {
    width: 100%;
    max-width: 382px;
    margin-right: 20px;
}

.header__list {
    display: flex;
    justify-content: space-around;
}

.header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white;
}

/* header end */

/* main start */

.first_screen {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 652px;
    margin: 0 auto;
}

.first_screen__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    margin: 40px 0;
    margin-left: 40px;
    max-height: 652px;
}

.first_screen__title {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: calc(50px + 30 * (100vw / 1440));
    line-height: 80px;
}

.first_screen__text {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: calc(16px + 9 * (100vw / 1440));
    line-height: 44px;
    width: 100%;
}

.button {
    width: 100%;
    max-width: 170px;
    height: 100%;
    height: 66px;
    border-radius: 3px;
    cursor: pointer;
}

.first_screen__btn,
.offer__btn:nth-child(1) {
    background-color: #FC0A7E;
    color: white;
    border: none;
}

.first_screen__image {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 580px;
    margin-top: 20px;
}

.first_screen__img {
    width: 100%;
    height: auto;
}

.app {
    background-color: #1B1B1B;
}

.app__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: calc(8px + 4 * (100vw / 1440));
    line-height: 20px;
    text-transform: uppercase;
}

.app__text {
    color: #A8A8A8;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: calc(20px + 18 * (100vw / 1440));
    line-height: 48px;
}

.app__header {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 55px;
    text-align: center;
    color: #FFFFFF;
}

.app__img {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 0;
}

.about,
.benefits,
.numbers,
.menu,
.quote,
.partners,
.image {
    background-color: #fff;
    padding: 0 20px;
}

.about__container,
.menu__container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 0;
}

.about__description,
.menu__description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    max-width: 450px;
    margin-left: 30px;
}

.about__description:nth-child(2n) {
    align-items: flex-end;
}

.about__text {
    color: #A8A8A8;
    align-self: flex-start;
    margin-bottom: 30px;
}

.about__title {
    color: #000000;
    width: 100%;
    max-width: 306px;
    align-self: flex-start;
}

.desc {
    font-style: normal;
    font-weight: 400;
    font-size: calc(10px + 6 * (100vw / 1440));
    line-height: 30px;
    color: #6B6B6B;
}

.about__desc {
    justify-self: start;
    margin-top: 22px;
    width: 100%;
    max-width: 306px;
}

.right {
    align-self: flex-end;
    text-align: end;
}

.about__img {
    width: 30%;
    max-width: 558px;
    height: auto;
    align-self: center;
}

.benefits__container {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    gap: 20px;
}

.benefits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 350px;
    margin: 20px;
}

.benefits__img {
    width: 100%;
    max-width: 80px;
    margin-bottom: 40px;
}

.p {
    font-style: normal;
    font-weight: 700;
    font-size: calc(12px + 6 * (100vw / 1440));
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.benefits__title {
    margin-bottom: 17px;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

.benefits__desc {
    text-align: center;
}

.numbers__container {
    display: flex;
    justify-content: space-around;
    padding: 70px 0;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.numbers__item {
   width: 25%;
    max-width: 324px;
}

.numbers__title {
    font-style: normal;
    font-weight: 400;
    font-size: calc(30px + 29 * (100vw / 1440));
    line-height: 90px;
    text-align: center; 
    color: #333333;
    padding-bottom: 10px;
}

.menu__container {
    justify-content: space-between;
}

.menu__description {
    width: 50%;
    max-width: 450px;
}

.menu__description:nth-child(1n) {
    padding-right: 40px;
}

.menu__description:nth-child(2n) {
    padding-left: 40px;
}

.menu__text {
    padding-bottom: 25px;
}

.menu__title {
    padding-bottom: 22px;
}

.menu__img {
    align-self: center;
    width: 50%;
    max-width: 519px;
    height: auto;
}

.quote__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    padding: 80px 0;
}

.quote__img {
    width: 100%;
    max-width: 58px;
    padding-bottom: 63px;
}

.quote__text {
    font-style: normal;
    font-weight: 400;
    font-size: calc(16px + 24 * (100vw / 1440));
    line-height: calc(24px + 26 * (100vw / 1440));
    text-align: center;
    color: #6B6B6B;
    padding-bottom: 17px;
}

.quote_autor {
    display: flex;
    width: 100%;
    max-width: 300px;
    justify-content: space-between;
}

.quote_autor__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #6B6B6B;
}

.partners__container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 70px 0;
}

.partners__img {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}

.image {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.image__img {
    width: 100%;
}

.offer {
   height: 100%;
   max-height: 474px;
}

.offer__section {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   width: 40%;
   max-width: 395px; 
   padding: 100px 0;
}

.offer__title {
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.offer__buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    max-height: 70px;
}

.offer__btn {
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 190px;
    height: 100%;
    padding: 5% 0;
}

.offer__btn:nth-child(2n) {
    box-shadow: inset 0 0 0 1px #B04BB3;
    border: none;
    background-color: rgba(207, 0, 99, 0);
    color: #fff;
}

.sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 467px;
    background-color: #1B1B1B;
}

.sub__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 465px;
    height: auto;
}

.sub__title {
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    padding: 40px 0 20px 0;
    margin: 0 20px;
}

.sub__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #6B6B6B;
    padding-bottom: 20px;
    margin: 0 20px;
}

.sub__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 505px;
    height: 70px;
    padding-bottom: 55px;
}

.sub__email {
    width: 100%;
    max-width: 311px;
    height: inherit;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    border: none;
    border-radius: 3px 0 0 3px;
    margin-left: 20px;
}

.sub__submit {
    width: 100%;
    max-width: 154px;
    height: inherit;
    border: none;
    cursor: pointer;
    background: #FC0A7E;
    border-radius: 0px 3px 3px 0px;
    margin-right: 20px;
}

.footer {
    width: 100%;
    background-color: #1B1B1B;

}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
}

.footer__img {
    width: 100%;
    max-width: 136px;
    height: auto;
    padding-bottom: 20px;
}

.footer__menu {
    width: 100%;
    max-width: inherit;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    
}

.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    color: #6B6B6B;
}
